@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

.react-grid-item {
  touch-action: none;
}

.react-grid-item.react-grid-placeholder {
  background-color: #ef8b27;
  border-radius: 15px;
}

.react-resizable-handle.react-resizable-handle-se {
  display: none;
}
